<header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="<%= image_path('ruby_logo.svg')%>" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
          <%= link_to 'SAMPLE APP', root_path, class: 'nav-link fs-3 fw-bold' %>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
              <ul class="navbar-nav ms-auto flex-nowrap fs-4">
                  <li class="nav-item">
                     <%= link_to 'Home', '#', class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                      <%= link_to 'About', '#', class: 'nav-link' %>
                  </li>
                  <% if logged_in? %>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                      </button>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Profile', current_user, class: 'dropdown-item' %></li>
                        <li><%= link_to 'Settings', '#', class: 'dropdown-item' %></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><%= button_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
                      </ul>
                    </div>
                  <% else %>
                    <li class="nav-item">
                        <%= link_to 'Log in', login_path, class: 'nav-link' %>
                    </li>
                  <% end %>  
              </ul>
            </div>
          </div>
        </div>
      </nav>
</header>